[user]
	name = Felipe \"Zoc\" Silveira
	email = TheZoc@users.github.com
[credential]
	helper = osxkeychain
[color]
	ui = true
[core]
	excludefiles = ~/.gitignore_global
	editor = vim
	excludesfile = /Users/zoc/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
